<style type="text/css">
body {
    overflow-y: auto !important;
    overflow-x: auto !important;
}
</style>
<div class="container top-buffer">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="page-header">
                <h3>Add New User</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-6 top-buffer ">
            <input type="text" ng-model="model.first_name" placeholder="First Name" class="form-control">
        </div>
        <div class="col-xs-12 col-md-6 top-buffer ">
            <input type="text" ng-model="model.last_name" placeholder="Last Name" class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-6 top-buffer ">
            <input type="text" ng-model="model.phone" placeholder="Phone Number" class="form-control">
        </div>
        <div class="col-xs-12 col-md-6 top-buffer ">
            <input type="text" ng-model="model.address" placeholder="Address" class="form-control">
        </div>
    </div>
    <div class="top-buffer row">
        <div class="col-md-offset-8 col-md-4">
            <div class="row">                
                <div class="col-xs-12 col-md-offset-6 col-md-6">
                    <button ng-click="saveUser()" type="button" class="btn btn-success btn-block"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
