<div class="row">
<img src="/images/background.png" width="102%;" style="position:absolute;">
    <div class="col-md-offset-4 col-md-4">
        <p align="center"><img src="/images/logo.png" height="140" width="140"></p>
        <h1 align="center">home ka food</h1>
        <h2 style="color:red;" align="center">Thali @ 69 Rs.</h2>
        <p align="center">Rise. Chapati. Dal. Salad & Veg Sabzee.</p>
        <div class="form-group">
            <input ng-model="model.name" type="text" class="form-control" placeholder="Name*">
        </div>
        <div class="form-group">
            <input ng-model="model.email" type="text" class="form-control" placeholder="Email*">
        </div>
        <div class="form-group">
            <input ng-model="model.phone" type="text" class="form-control" placeholder="Phone Number*">
        </div>
        <button ng-click="saveUser()"  class="btn btn-primary" style="width:100%; background-color:#F1592A">Register</button>

        <span id="thanks" style="display:none">
            Thank you for registering, we will soon be sending you amazing and delicious offers !
        </span>
    </div>

</div>
<div class="row" style="padding-top:20px;">
    <div class="col-md-offset-6 col-md-3">
        <a href="http://www.facebook.com/Homekafood" target="_blank"><img src="/images/fb.jpg" height="50" width="50"></a>
        <a href="http://www.instagram.com/Homekafood" target="_blank"><img src="/images/insta.png" height="50" width="50"></a>
        <span style="font-size:18px;">/Homekafood</span>
    </div>
</div>
