<nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="background:white">
    <div class="container">
        <div ng-if='currentUser' class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img style="margin-top:-15px; margin-left:-90px;" src="/images/logo.png" height="80" width="80"> </a>
        </div>
        <!-- <ul ng-if="!currentUser" class="nav navbar-nav navbar-right">
            <li ui-sref-active="active"><a ui-sref=".register">Register</a></li>
            <li ui-sref-active="active"><a ui-sref=".login">Login</a></li>
        </ul> -->
        <div id="navbar" class="navbar-collapse collapse">
            <div ng-if="currentUser" class="nav navbar-nav navbar-right" role="form">
                <li><a href="/admin"><span class="glyphicon glyphicon-th-list"></span>&nbsp;&nbsp;List</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;{{currentUser}}</a></li>
                <li><a class="logout" href="#" ng-click="logout()"><span class="glyphicon glyphicon-log-out" ></span>&nbsp;&nbsp;Logout</a></li>
            </div>
        </div>
    </div>
</nav>
