@import url('/font/Noteworthy-Bold.otf');
@font-face {
    font-family: "Noteworthy";
}

* {
    padding: 0;
    margin: 0
}

body {
    /*font-family: 'Noteworthy', sans-serif;*/
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    overflow: hidden;
    /*background-image: url("/images/background.png");
    background-repeat: no-repeat;*/
}

@media only screen and (max-width: 500px) {
    #background {
        opacity: 0.6;
    }
    body {
        overflow-y: auto;
    }
}

h1 {
    color: #000;
}

p {
    color: #000;
}

.top-buffer {
    margin-top: 20px;
}

.call-now:hover {
    cursor: pointer;
    color: blue
}

.noteworthy{
    font-family: 'Noteworthy', sans-serif;
}